.page {
  background-color: #2a2c2f;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding: 28px 48px 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1023px) {
  .page {
    padding: 28px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    padding: 16px 16px 24px;
  }
}
