.title {
  margin: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 40px;
    line-height: 110%;
  }
}

@media screen and (max-width: 315px) {
  .title {
    font-size: 28px;
  }
}
