@font-face {
  font-family: "Inter";
  src: url("./Inter/static/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter/static/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter/static/Inter-Black.ttf") format("truetype");
  font-weight: 900;
}
