.margin-gap {
  margin-bottom: 92px;
}

@media screen and (max-width: 1023px) {
  .margin-gap {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .margin-gap {
    margin-bottom: 64px;
  }
}
