.intro {
  width: 984px;
  justify-self: center;
}

@media screen and (max-width: 1079px) {
  .intro {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: none;
  }
}
